/* ---- ---- ---- */
/* MAIN STRUCTURE */
/* ---- ---- ---- */

body {
    background-color: #000000;
    font-family: "NordicaUltraLight", sans-serif;
    font-size: 14px;
    color: #b9b9b9;
}

.x_center,
.y_center {
    display: flex;
    justify-content: center;
}

body,
table,
td,
td.header_pic,
.wrapper,
.header,
.footer {
    padding: 0px;
    margin: 0px;
}

table {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-flow: column;
    width: 1000px;
    min-height: 100vh;
    text-align: center;
}

.header,
.footer {
    background-color: #1E1E1E;
}

.header {
    flex: 0 1 auto;
}

.content {
    margin: 77px, 0px, 77px, 0px;
    flex: 1 1 auto;
    background-color: #282728;
}

td.header_pic {
    width: 275px;
}

.footer {
    flex: 0 1 50px;
    width: 1000px;
}

/* ---- ---- ---- */
/* HOME STRUCTURE */
/* ---- ---- ---- */

/* USES MAIN STRUCTURE */

/*  ---- ---- ----  */
/* RECIPE STRUCTURE */
/*  ---- ---- ----  */

.recipe_box,
td.recipe_pic,
.recipe_text,
.recipe_lists,
.recipe_item,
.ingredients {
    padding: 0px;
    margin: 0px;
}

.recipe_box {
    position: relative; top: 79px;
    height: auto;
    width: 1000px;
}

td.recipe_pic {
    width: 331px;
}

td.recipe_text {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
}

.recipe_lists {
    display: flex;
    flex-flow: row;
}

.recipe_item {
    display: flex;
    flex-flow: column;
}

.ingredients {
    width: 200px;
}

/* ---- ---- ---- */
/*  MEDIA STYLING */
/* ---- ---- ---- */

img.header {
    height: auto;
    width: inherit;
    float: center;
}

img.content {
    height: auto;
    width: 260px;
    float: center;
}

div.fade {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}

div.fade:hover {
    transition: filter 0.3s linear;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
}

/* ---- ---- ---- */
/*  TEXT STYLING  */
/* ---- ---- ---- */

@font-face {
    font-family: Angars; src: url(./fonts/AngarsRunes.ttf);
}

@font-face {
    font-family: NordicaLight; src: url(./fonts/NordicaClassicLight.otf);
}

@font-face {
    font-family: NordicaUltraLight; src: url(./fonts/NordicaClassicUltraLight.otf)
}

a:link, a:hover, a:active, a:visited  {
    color: #b9b9b9;
    text-decoration: none;
}

h1 {
    margin: 0px 0px -15px 0px;
    font-family: Angars;
    font-size: 150px;
}

h2,
h3 {
    font-family: "NordicaLight";
    font-size: 36px;
}

h2 {
    margin: -15px 0px 0px 0px;
}

h3,
h5 {
    text-align: left;
}

h4 {
    padding: 10px;
    margin: 0px;
    font-family: "NordicaLight";
    font-size: 24px;
    font-weight: lighter;
}

h5 {
    margin: 0px 0px -10px 0px;
    font-family: "NordicaUltraLight";
    font-size: 18px;
}

ul,
ol {
    padding-left: 20px;
    text-align: left;
}